/*CSS DOCUMENT*/

h1 {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-size: 4em;
  color: #5778ff;
  text-align: center;
}

h2 {
  font-family: montserrat, sans-serif;
  font-weight: 200;
  font-size: 4em;
  color: #5778ff;
  text-align: center;
}
