/*CSS DOCUMENT*/

body {
  line-height: 1.5;
}

h1 {
  font-family: montserrat, sans-serif;
  font-weight: 800;
  font-size: 6em;
  color: #1938b3;
  text-align: center;
}

h2 {
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 3em;
  color: #1938b3;
  text-align: center;
  margin: -1.25em 0em 0em 0em;
}

h3 {
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 2em;
  text-transform: uppercase;
  color: #1938b3;
  text-align: center;
  margin: 1em 0em 0.5em 0em;
  letter-spacing: 5px;
}

h4 {
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #1938b3;
  text-align: left;
}

p {
  font-family: montserrat, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: #1938b3;
  text-align: left;
}

.left {
  width: 600px;
  text-align: left;
  margin-left: 6em;
}

.italic {
  font-style: italic;
}
